html {
    background-color: blueviolet;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    gap: 2em;
}

h1 {
    font-size: 2em;
    color: aliceblue;
    font-weight: bold;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: solid 1px gray;
    padding: 1em;
    background-color: aliceblue;
    border-radius: 5%;

}

.menu-notas {
    display: flex;
    gap: 0.5em;
}

.exibir-notas {
    padding: 0.3em 0 12em 0.3em;
    border: 1px gray solid;
    overflow-y: scroll;
    overflow-x: hidden;

}

.btn-calcular {
    width: 150px;
}

.exibir-media {
    display: flex;
    gap: 1em;
}